*{
    box-sizing: border-box;
}
body{
    padding-top: 5vw;
}
.bgimg{
    height: 35vw;

    width:100%;
}
nav{
    box-shadow: 5px 8px 8px #6c9eda;
}



.logo{
    height:3vw;
    width:3vw;
    border-radius: 50%;
    margin-left: 4vw;
}

.containerM{
    margin-left: 12vw;
    margin-right: 12vw;
}

.navitem{
    margin-right: 1vw;
    font-size: 1.5vw;
}
.btn{
    height: 4vw;
    width: 30vw;
    background-color: rgb(125 211 252);
    border-radius: 3vw;
    border: solid rgb(164, 164, 241);
    margin: 0vw 1vw 1vw 1vw;
    font-weight: bold;
    cursor: pointer;
}
.btn:hover{
    background-color:rgb(168, 217, 247) ;
    border: solid rgb(164, 164, 241);
}
.btn1{
    height: 4vw;
    width: 30vw;
    background-color: rgb(124, 245, 124);
    border-radius: 3vw;
    border: solid rgb(164, 164, 241);
    margin: 0vw 1vw 1vw 1vw;
    font-weight: bold;
    cursor: pointer;
}
.btn2{
    height: 4vw;
    width: 30vw;
    background-color: rgb(223, 172, 117);
    border-radius: 3vw;
    border: solid rgb(164, 164, 241);
    margin: 0vw 1vw 1vw 1vw;
    font-weight: bold;
    cursor: pointer;
}
.btn1:hover{
    background-color:rgb(185, 242, 185) ;
    border: solid rgb(164, 164, 241);
}
.div1{
    margin-top: 2vw;
    padding-top: 3vw;
    padding-bottom: 1vw;
}
.divC{
    padding-top: 2vw;

}
.div2{
    margin: 1vw 10vw 4vw 10vw;
    text-align: center;
}
.div3{
    font-size: 1vw;
    margin-top: 1vw;
}
.div4{
    font-size: 1.5vw;
    font-weight: bold;
}
.div5{
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 1vw;
}
.sect{
    color: black;
    height: 2px;
    background-color: black;
}
.cryp2{
    height: 6vw;
    width: 50vw;
    margin-bottom: 1vw;
    margin-top: 3vw;
}
.cryp3{
    height: 20vw;
    width: 60vw;
    margin-bottom: 1vw;
    margin-top: 0vw;
}

.mar_next{
    margin-right: 10vw;
    margin-left: 1vw;
    font-size: 2vw;

}
.newgame{
    font-size: 2vw;
    margin-left: 10vw;
    margin-right: 10vw;
}
.newgame a{
    color: rgb(248, 97, 97);
}
.getstart{
    font-size: 2.5vw;
}
.foot{
    color: rgb(212 212 216);
    padding-top: 1vw;
    padding-bottom: 1vw;
}
.slidesShow-container {
    height: 480px;
    position: relative;
    margin: auto;
}
.myslides {
    height: 460px;
    width: 100%;
}

.myslides img {
    height: 450px;
    width: 100%;
    padding: 7px;
}
.img1{
    width: 70vw;
    height: 5vw;
}
.dot {
    height: 15px;
    width: 15px;
    margin: 1px;
    background-color: #b5aeae;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active {
    background-color: #454545;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@media only screen and (max-width: 600px){
    body{
        padding-top: 10vh;
    }
    .bgimg{
        height:35vh;
    }
    .mar_next{
        font-size: 3vh;
        margin-left: 0vw;
        margin-right: 0vw;
    }
    .logo{
        height:4vh;
        width:4vh;
        margin-left: 0vw;
        margin-right: 0vw;
    }
    .gamelist{
        margin-top: 2vh;
        margin-bottom: 2vh;
    }
    .navitem{
        font-size: 2vh;
    }
    .itemImg{
        height:10vh;
        width:10vh;
        margin-left: 1vh;
        margin-right: 1vh;
        border-radius: 10%;
    
    }
    .containerM{
        margin-left: 8vw;
        margin-right: 8vw;
    }
    .figcap{
        font-size:1vh;
    }
    .newgame div{
        font-size: 2vh;
        text-align: center;
    }
    .howto{
        font-size: 1.5vh;
        margin-right: 2vh;
    }
    .getstart{
        font-size: 3vh;
    }
    .foot{
        font-size: 1.5vh;
        padding-top: 1vh;
        padding-bottom: 1vh;
    }
    .slidesShow-container{
        height:33vh;
    }
    .myslides{
        height:32vh;
    }
    .myslides img{
        height: 32vh;
    }
    .div1{
        margin-top: 4vh;
    }
    .div1 h1{
        font-size: 3vh;
    }
    .div3{
        font-size: 1.5vh;
    }
    .div4{
        margin-top: 1vh;
        font-size: 1.5vh;
    }
    .div5{
        font-size: 1.5vh;
    }
    .div6 h1{
        font-size: 3vh;
    }
    
    .btn{
        font-size: 1.5vh;
        height: 6vh;
        align-items: center;
        text-align: center;
        margin-top: 0vh;
        padding-top: 0.5vh;
    }
    .btn1{
        font-size: 1.5vh;
        height: 7vh;
        width: 30vh;
        padding: 1vh;
    }
    .img1{
        height: 4vh;
        width: 80vw;
    }
    .cryp2{
        height: 5vh;
        width: 50vw;
    }
    .cryp3{
        height: 15vh;
        width: 70vw;
    }



}