* {
    box-sizing: border-box;
}

li {
    list-style: none;
    padding: 0 10px;
}

nav {
    padding: 14px 0px 6px 60px;
    box-shadow: 5px 8px 8px #6c9eda;
}

nav img {
    width: 35px;
    height: 35px;
}

header {
    position: sticky;
    top: 0;
    height: 64px;

}

a:hover {
    color: grey;
}

a:active {
    color: blue;
}


.slidesShow-container {
    height: 480px;
    position: relative;
    margin: auto;
}

.myslides {
    height: 460px;
    width: 100%;
}

.myslides img {
    height: 450px;
    width: 100%;
    padding: 7px;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 1px;
    background-color: #b5aeae;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #454545;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.Backg {
    height: 350px;
}


.Backg1 {
    height: 80px;
}

.btn {
    border-radius: 20px;
    border: solid rgb(164, 164, 241);
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-size: 16px;
    width: 30%;
}

.divC {
    height: 100px;
}

button:hover {
    background-color: rgb(197, 225, 242);
}

.itemImg {
    width: 150px;
    height: 150px;
    margin: 10px 10px;

    * {
        box-sizing: border-box;
    }

    li {
        list-style: none;
        padding: 0 10px;
    }

    nav {
        padding: 14px 0px 6px 60px;
        box-shadow: 5px 8px 8px #6c9eda;
    }

    nav img {
        width: 35px;
        height: 35px;
    }

    header {
        position: sticky;
        top: 0;
        height: 64px;

    }

    .slidesShow-container {
        height: 350px;
        position: relative;
        margin: auto;
    }

    .myslides {
        height: 450px;
        width: 100%;
    }

    .myslides img {
        height: 450px;
        width: 100%;
        padding: 7px;
    }

    .dot {
        height: 15px;
        width: 15px;
        margin: 1px;
        background-color: #b5aeae;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active {
        background-color: #454545;
    }

    .fade {
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @keyframes fade {
        from {
            opacity: .4
        }

        to {
            opacity: 1
        }
    }

    .Backg {
        height: 350px;
    }


    .Backg1 {
        height: 80px;
    }

    .btn {
        border-radius: 20px;
        border: solid rgb(164, 164, 241);
        padding: 10px;
        margin: 10px;
        text-align: center;
        font-size: 16px;
        width: 30%;
    }

    .divC {
        height: 70px;
    }

    button:hover {
        background-color: rgb(197, 225, 242);
    }

    .itemImg {
        width: 150px;
        height: 150px;
        margin: 10px 10px;
        border-radius: 20px;
    }

    li {
        margin: 5px;
    }

    .foot {
        height: 110px;
    }

    .containerHeader {
        padding: 0 4vw;
    }

    border-radius: 20px;
}

li {
    margin: 5px;
}

.foot {
    height: 110px;
}

.containerHeader {
    padding: 0 4vw;
}
/* .dispimages{
    height: 750px;
}
.dispimagesItems{
    height: 600px;
}
.dispimagesItems img{
    height:600px;
    width: 300px;
} */