* {
    box-sizing: border-box;
}

li {
    list-style: none;
    padding: 0 10px;
}

nav {
    padding: 14px 0px 6px 60px;
    box-shadow: 5px 8px 8px #e2e4f4;
}

nav img {
    width: 35px;
    height: 35px;
}

a:hover {
    color: grey;
}

a:active {
    color: blue;
}

header {
    position: sticky;
    top: 0;
    background: white;
    height: 66px;

}

.containerHeader {
    padding: 0 4vw;
}

.div1 {
    height: 200px;
    display: inline-block;
}

.div2 {
    height: 80px;
}

.div3 {
    height: 400px;
    padding: 10px;
    margin: 10px;
}

.div4 {
    width: 40%;
    height: 350px;
    margin: 10px;
    padding: 5px;
    background-color: rgb(216, 247, 231);
}


.div5{
    width: 80%;
    height: 350px;
    margin: 10px;
    padding: 5px;
    background-color: rgb(216, 247, 231);
}
.div6{
    margin:10px;
    height:400px;
}
.icon img {
    width: 100px;
    height: 100px;
}
.icon1{
    width:300px;
    height:300px;
}
.itemImg {
    width: 70px;
    height: 70px;
}

.btn {
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-size: 16px;
    width: 50%;
}

.wide {
    width: 150px;
}

.foot {
    height: 130px;
}