/* .dispimages{
    height: 750px;
}
.dispimagesItems{
    height: 600px;
}
.dispimagesItems img{
    height:600px;
    width: 300px;
} */

/* .cards img{
    height: 350px;

}
.btncard {
    border-radius: 20px;
    border: solid rgb(164, 164, 241);
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-size: 16px;
    width: 60%;
}
button:hover {
    background-color: rgb(197, 225, 242);
}
.divCard {
    height: 100px;
} */